{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tasks list</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Subject</th>
                <th>Priority</th>
                <th>Done</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.id }}</a></td>
                <td>{{ task.subject }}</td>
                <td>{{ task.priority }}</td>
                <td>{% if task.done %}Yes{% else %}No{% endif %}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="{{ path('task_show', { 'id': task.id }) }}" class="btn btn-default">show</a>
                        <a href="{{ path('task_edit', { 'id': task.id }) }}"  class="btn btn-default">edit</a>
                        {{ form_start(delete_forms[task.id], {'attr': {'class': 'btn-group inline'}}) }}
                        <input type="submit" value="Delete" class="btn btn-danger radius-right">
                        {{ form_end(delete_forms[task.id]) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('task_new') }}" class="btn btn-default btn-lg">Create a new task</a>
{% endblock %}
