{% extends 'base.html.twig' %}

{% block body %}
    <h1>Task</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ task.subject }}</td>
            </tr>
            <tr>
                <th>Done</th>
                <td>{% if task.done %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div class="btn-group">
        <a href="{{ path('task_index') }}" class="btn btn-default">Back to the list</a>
        <a href="{{ path('task_edit', { 'id': task.id }) }}" class="btn btn-default">Edit</a>
        {{ form_start(delete_form, {'attr': {'class': 'btn-group inline'}}) }}
        <input type="submit" value="Delete" class="btn btn-danger radius-right">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
